{% extends "layout/layout.html" %}
{% block body %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="{{ url_for('static', filename='javascript/home.js') }}"></script>
    <div id="wrapper">
        <button type="button" class="btn btn-primary" id="to_data">Receive Radio Data</button>
        <button type="button" class="btn btn-primary" id="add_csv">Use Existing Data</button>
        <br>
        <button type="button" class="btn btn-warning" id="more_info">Wha... How do you... What am I doing?</button>
    </div>
{% endblock %}
